#ifndef SECRETS_H
#define SECRETS_H

// WiFi Configuration
#define WIFI_SSID_VALUE "YOUR_WIFI_SSID"
#define WIFI_PASSWORD_VALUE "YOUR_WIFI_PASSWORD"

// MQTT Configuration  
#define MQTT_SERVER_VALUE "YOUR_MQTT_SERVER"
#define MQTT_PORT_VALUE 8883
#define MQTT_USER_VALUE "YOUR_MQTT_USER"
#define MQTT_PASS_VALUE "YOUR_MQTT_PASSWORD"
#define CLIENT_ID_VALUE "ESP32Client-01"
#define MQTT_TOPIC_VALUE "esp32/sensor1"

#endif